{% load markup %}
<div class="page-header" style="overflow: auto">
    <div style="float: left;">
        <h2>{{ post.title }}</h2>
    </div>
    {% if post.id %} {#this hide bookmark bottom in post preview#}
        <div id="bookmark" style="float: right">
            <div data-bind="visible: !bookmarked()">
                <h2 style="color: #e3e3e3; cursor: pointer" data-bind="click: bookmark" title="Bookmark this page">&sect;</h2>
            </div>
            <div data-bind="visible: bookmarked">
                <h2 style="cursor: pointer" data-bind="click: bookmark" title="Bookmark this page">&sect;</h2>
            </div>
        </div>
    {% endif %}
</div>
<div>
    <p>{{ post.text|markdown }}</p>
</div>

{% if post.poll %}
    <hr/>
    {% if not post.poll_voted and not post.poll_finished %}
    <div id="poll_form">
        <div data-bind="html: pollResult"></div>
        <div data-bind="visible: connectionError">
            <div class="alert alert-error">
                <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
            </div>
        </div>
        <form class="form-horizontal" data-bind="visible: pollVisible">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Опрос</label>
                    <div class="controls">
                        {% for variant in post.poll %}
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: id_{{ variant.id }}, enable: id_{{ variant.id }}_disabled()">{{ variant.text }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-actions" data-bind="visible: mainActions">
                    <input class="btn btn-primary" type="button" value="Голосовать" data-bind="click: votePoll">
                    <input class="btn" type="button" value="Воздержаться" data-bind="click: skipPoll">
                </div>
                <div class="form-actions" data-bind="visible: voteActions">
                    <p style="font-style: italic; color: #d3d3d3;">Вы уверены что хотите проголосовать?</p>
                    <input class="btn btn-primary" type="button" value="Да" data-bind="click: processVote">
                    <input class="btn" type="button" value="Отмена" data-bind="click: cancel">
                </div>
                <div class="form-actions" data-bind="visible: skipActions">
                    <p style="font-style: italic; color: #d3d3d3;">Вы уверены что хотите вооздержаться от голосования?</p>
                    <input class="btn btn-primary" type="button" value="Да" data-bind="click: processSkip">
                    <input class="btn" type="button" value="Отмена" data-bind="click: cancel">
                </div>
            </fieldset>
        </form>
        </div>
        <script type="text/javascript">
            Poll = function(post, ids, limit) {
                var self = this;
                ids.forEach(function(id) { self["id_" + id] = ko.observable(false); });
                ids.forEach(function(id) {
                    self["id_" + id + "_disabled"] = ko.computed(function(){
                        if (self["id_" + id]())
                            return true;
                        return ids.reduce(function(count, id) {
                            if (self["id_" + id]())
                                return count + 1;
                            return count;
                        }, 0) < limit;
                    });
                });
                this.mainActions = ko.observable(true);
                this.voteActions = ko.observable(false);
                this.skipActions = ko.observable(false);
                this.votePoll = function() {
                    self.mainActions(false);
                    self.voteActions(true);
                };
                this.skipPoll = function() {
                    self.mainActions(false);
                    self.skipActions(true);
                };
                this.cancel = function() {
                    self.mainActions(true);
                    self.voteActions(false);
                    self.skipActions(false);
                };

                this.pollVisible = ko.observable(true);
                this.pollResult = ko.observable();
                var call_vote = function(vote_ids) {
                    Dajaxice.waaagh.multiblog.vote_poll(
                        function(preview) {
                            self.pollVisible(false);
                            self.pollResult(preview.result)
                        },
                        { 'post' : post, 'ids' : vote_ids },
                        {'error_callback': function() { self.connectionError(true);}}
                    );
                };
                this.processVote = function() {
                    call_vote(ids.reduce(function(prev, id) {
                        if (self["id_" + id]())
                            prev.push(id);
                        return prev;
                    }, []));
                };
                this.processSkip = function() { call_vote([]); };
                this.connectionError = ko.observable(false);
            };
            ko.applyBindings(new Poll({{ post.id }}, [{% for variant in post.poll %}{{ variant.id }}, {% endfor %}], {{ post.poll_limit }}), document.getElementById("poll_form"));
        </script>
    {% else %}
        {% include "post_poll.html" %}
    {% endif %}
    <i style="color: #f8b9b7;">Дата окончания голосования: {{ post.poll_deadline }}; Максимальное количество вариантов: {{ post.poll_limit }}</i>
{% endif %}
