<div class="control-group">
    <label class="control-label">Форматирование</label>
    <div class="controls">
        <label class="checkbox">
            <input id="id_proc_ref" type="checkbox" name="proc_ref" checked>Автоматическое распознавание ссылок
        </label>
        <label class="checkbox">
            <input id="id_proc_images" type="checkbox" name="proc_images" checked>Автоматическая вставка изображений
        </label>
        <label class="checkbox">
            <input id="id_proc_lines" type="checkbox" name="proc_lines" checked>Автоматическое форматирование абзацев
        </label>
    </div>
</div>
