{% extends 'main.html' %}

{% macro tag() %}
    <a href='#' class="label label-default" data-bind="text: $data.name + ' (' + $data.count + ')', css: 'label ' + ($data.selected()?'label-success':''), click: $data.click"></a>
{% endmacro %}


{% block main_area %}
{% include "partial/info_modal.html" %}
<div id="rosters-list">
    <h3 class="pull-left">Rosters</h3>
    <div data-bind="visible: !loaded()">
        <em class="muted">Loading ...</em>
    </div>
    <div data-bind="visible: loaded()">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="army-selector">Army name</label>
                            <select class="form-control" id="army-selector">
                            {% for game in games %}
                                <optgroup label="{{ game.name }}">
                                {% for army_name, army_types in game.armies %}
                                    <option value="{{ army_name }}">{{ army_name }}</option>
                                {% endfor %}
                                </optgroup>
                            {% endfor %}
                            </select>
                            <label class="sr-only" for="army-type-selector">Army type</label>
                            <select class="form-control" name="army" id="army-type-selector">
                            {% for game in games %}
                                {% for army_name, army_types in game.armies %}
                                    {% for army in army_types %}
                                        <option value="{{ army.id }}" data-name="{{ army.name }}">{{ army.type }}</option>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-default" type="submit">Create</button>
                        <script type="text/javascript">
                          $( "#army-selector" ).change(function() {
                              var value = $(this).val();
                              $( "#army-type-selector > option" ).hide();
                              $( "#army-type-selector > option[data-name='" + value + "']").show();
                              $( "#army-type-selector").val( $("#army-type-selector > option[data-name='" + value + "']" ).attr("value"));
                          });
                          $(document).ready(function() {
                              var value = $( "#army-selector" ).val();
                              $( "#army-type-selector > option" ).hide();
                              $( "#army-type-selector > option[data-name='" + value + "']").show();
                              $( "#army-type-selector").val( $("#army-type-selector > option[data-name='" + value + "']" ).attr("value"));
                          });
                        </script>
                    </form>
                </div>
                <div class="pull-right" data-bind="with: $data.del, visible: rosters().length>0">
                    <button type="button" class="btn btn-danger" data-bind="click: deleteObjs, visible: deletingAllowed"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    <button type="button" class="btn btn-default" data-bind="click: selectAll"><span class="glyphicon glyphicon-check"></span> Select all</button>
                    <button type="button" class="btn btn-default" data-bind="click: clear, visible: deletingAllowed"><span class="glyphicon glyphicon-unchecked"></span> Clear</button>
                </div>
            </div>
        </div>

        <div data-bind="foreach: tagList.tags">
            {{ tag() }}
        </div>

        <div data-bind="foreach: rosters">
            <div data-bind="visible: $data.visible()" class="bs-callout bs-callout-unit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <a data-bind="attr: {href: $data.url}">
                                <strong><span data-bind="text: $data.name"></span>
                                <span class="text-muted" data-bind="visible: $data.name!=$data.type_name, text: '[' + $data.type_name + ']'"></span></strong>
                            </a>
                            <em class="text-muted">- <span data-bind="text: $data.points"></span>/<span data-bind="text: $data.limit?$data.limit:'\u221E'"></span>pt.</em>
                        </div>
                        <div class="pull-right">
                            <input type="checkbox" data-bind="checked: $data.selected"/>
                        </div>
                    </div>
                </div>
                <p>
                    <em class="text-muted"><span data-bind="text: $data.description"></span></em>
                </p>
                <div data-bind="foreach: $data.tagsObj">
                    {{ tag() }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ko.applyBindings(new RosterList({
        rosters: {{ rosters|tojson|safe }},
        delUrl: {{ url_for('builder.delete_rosters')|tojson|safe }}
    }), document.getElementById('rosters-list'));
</script>
{% endblock %}
